build/*
bin/*
!bin/dump.sh
bench/*.out
bench/G4History.macro
bench/*.root
bench/currentEvent.rndm
bench/currentRun.rndm
vis/*
bench/.*
.DS_Store
*.bak

CMakeCache.txt
CMakeFiles/*
CMakeScripts/*
cmake_install.cmake
mc.xcodeproj/*
mc.build/*

DerivedData/*
Debug/*
cmake_install.cmake/*
hand/*

bench/calcTotalEdep.C

Testing

.idea
cmake-build-debug
include/
lib/
common/common.hh
